.page {
    background-color: #2A2C2F;
    color: #fff;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}