.place__paragraph {
    /*width: 100%;*/
    font-size: 18px;
    line-height: 163%;
    margin: 0 0 26px;
}

.place__paragraph:last-child {
    margin-bottom: 0;
}

@media screen and (max-width:1279px) {
    .place__paragraph {
        margin: 0 0 27px;
    }
}

@media screen and (max-width:1023px) {
    .place__paragraph {
        font-size: 16px;
        margin: 0 0 25px;
    }
}

@media screen and (max-width:767px) {
    .place__paragraph  {
        margin-left: 16px;
        margin-right: 16px;
    }
}